* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lowUV {
    background-color: rgb(101, 206, 16);
    color: black;
}

.medUV {
    background-color: rgb(245, 242, 48);
    color: black;
}

.highUV {
    background-color: rgb(212, 140, 24);
    color: #fff;
}

.veryhiUV {
    background-color: rgb(233, 38, 13);
    color: #fff;
}

.extremeUV {
    background-color: rgb(221, 30, 189);
    color: #fff;
}

.hide {
    display: none;
}

